.App {
  text-align: center;
  background: #F0C27B;  /* fallback for old browsers */
  background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
height: 100vh;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.message-box{
height: 50px;
width: 75%;
font-size: 40px;
color: rgb(44,88,100);
position: absolute;
bottom: 0;
left: 12.5%;
padding: 0 15px;
outline: none;
border-radius: 10px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}
.app-header{
  color: rgb(10, 60, 71);
  position: absolute;
  font-size: 40px;
  text-align: left;
  top: 0;
  width: 100%;
  padding: 10
  px;
  border-radius: 50px;
  display:flex;
  align-items: center;

background: rgba(255,255,255,0.2);

}
.logo{
  height: 100px;
}
.text-input{
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  border-top: 2px solid purple;
  display: flex;
  align-items: center;
}
/* to style a class, type input afterwards: */
.text-input input{
  position: absolute;
  border-radius: 15px;
  border: 1px solid white;
  bottom: 0px;
  left: 1px;
  width: calc(100% - 50px);
  height: 100%;
  font-size: 34px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 10px;
  color: rgb(44,88,100);
  background:black;
  outline: none;
}

.text-input button{
  position:absolute;
  height: 100%;
  width: 50px;
  border-radius: 20px;
  bottom: 0px;
  right: 1px;
  border: 1px solid white;
  
  
}

.text-input button:hover {
  color: white;
  background: teal;

}
.up_arrow {
  height: 20px;
}